.theme {
	position:relative;
	top:-165px;
	left:-45px;
	width:800px;
	height:600px;
}
.theme-button.active{
	fill:white !important;
}

.theme-button-label.active{
	fill:white !important;
}
.theme-button-label.active *{
	fill:black !important;
}

.theme-button-label-stroke.active{
	stroke:black !important;
}
.theme-button-label-stroke.active *{
	stroke:black !important;
}

.theme-analog-wrapper {
	position:absolute;
	top:0%;
	left:0%;
	height:40px;
	width:40px;
	border-radius:100%;
}
.theme-analog {
	position:absolute;
	top:0%;
	left:0%;
	width:60px;
	height:60px;
	background:#333;
	border-radius:100%;
	background: radial-gradient(ellipse at center, #CCC 0%,#999 100%);
}
.theme-analog.active {
	background:white;
	background: radial-gradient(ellipse at center, #CCC 0%,#999 100%);
}
.theme-analog-dual-left {
	position:absolute;
	top:0%;
	left:0%;
	width:100px;
	height:100px;
	margin-left:35px;
	margin-top:535px;
	background:#333;
	border-radius:100%;
    box-shadow: 0 0 0 2pt grey;
	background: radial-gradient(ellipse at center, #DDD 0%,#BBB 100%);
}
.theme-analog-dual-right {
	position:center;
	top:0%;
	left:0%;
	width:36px;
	height:36px;
	margin-left:710px;
	margin-top:520px;
	background:#333;
	border-radius:100%;
	box-shadow: 0 0 0 2pt grey;
	background: radial-gradient(ellipse at center, #CCC 0%,#CCC 100%);
}
.theme-analog-dual-left.active {
	background:white;
	background: radial-gradient(ellipse at center, #DDD 0%,#BBB 100%);
}
.theme-analog-dual-right.active {
	background:white;
	background: radial-gradient(ellipse at center, #DDD 0%,#DDD 100%);
}